body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  background-color: #e8e8e8;
  font-family: "Poppins", serif;
  margin: 0;
  height: 100vh;
}
.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  
}
.nav-bar img {
  margin-right: 10px;
}
.nav1 {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav1 li {
  position: relative;
}
.nav1 a {
  color: #212122;
  text-decoration: none;
  padding: 10px 15px;
}
.nav1 a:hover {
  color: #555454;
}
.search-container {
  display: flex;
  padding-left: 40px;
  padding-right: 50px;
  align-items: center;
  margin-left: auto;
}
/*dropdowns*/

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px 0; 
  min-width: 150px; 
}
.dropdown-item {
  color: black;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  transition: background-color 0.3s;
  font-size: 16px; 
}

.nav1 > li:hover .dropdown {
  display: block;
}

.dropdown li {
  list-style: none;
}

.dropdown li a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}


.search-input {
  padding: 10px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  width: 300px;
}
.nav2 {
  display: flex;
  align-items: center;
}
.nav2 ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 30px;
}
.nav2 li {
  list-style: none;
}
.sign-in-button {
  background-color: #212122;
  color: #e8e8e8;
  border: none;
  border-radius: 9px;
  padding: 10px 20px;
  width: 90px;
  height: 35px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sign-in-button:hover {
  background-color: #333;
}
.sign-in-button2 {
  background-color: #212122;
  color: #e8e8e8;
  border: none;
  border-radius: 9px;
  padding: 10px 20px;
  width: 90px;
  height: 35px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sign-in-button2:hover {
  background-color: #333;
}
.chat-button {
  background-color: #e8e8e8;
  color: #212122;
  border-color: #212122;
  border-radius: 9px;
  padding: 10px 30px;
  width: 220px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.chat-button:hover {
  background-color: #333;
  color: #e8e8e8;
}
  /* New*/

  .pinfo{
    background-color: #e8e8e8;
    color:#555454 ;
    margin-top: 5rem;
    height: 30rem;
    width: 45rem;
    margin-left: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
  }
  #para{
    color: #555454;
    padding-left: 2rem;
  font-size: 1.6rem;
  align-self: flex-end;
  }
  .portfolio{
    background-color: white ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-left: 111rem;
    height: 30rem;
    width: 33rem;
    border-radius: 2rem;
     
}
.portfolio input{
    font-size: 0.84rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.pstyling{
    margin: 0.2rem;
    padding-right: 2rem;
    width: 100%;
    margin-left: 1.2rem;
}
.infocin{
    background-color: white;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
h1{
    color: #555454;
    padding-left: 1.7rem;
}
.portfolio input::placeholder {
    color: gray; 
    opacity: 1.2; 
}
.image-container {
    display: flex;
    padding-left: 4.3rem;
    margin-top: 3.5rem; 
}

.image-container img {
    width: 39%; 
    border-radius: 1.7rem   ; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 

}
.Manager-Box {
    display: flex;
    padding-left: 13rem;
    margin-top: 5rem; 
}
.Manager-Box img {
    width: 85%; 
    border-radius: 1.4rem;
    box-shadow: 0px 4px 10px rgb(144, 141, 141); 

}
.Manager-Box:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
h2 {
color: black;
    font-size: 3.3rem;
    text-align: center;
}
.boxes-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 20px;
        width: 76.4rem;
        padding-left: 14.2rem;
}

.box {
    background-color: #f9f9f9;
    height: 13rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: left; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}

.box h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.box p {
    font-size: 1rem;
    color: #555;
}
.box img{   
    width: 3rem;
}
.box:hover {
    transform: scale(1.06); 
    transition: transform 0.3s ease-in-out;
}
.portfolio:hover {
    transform: scale(1.06); 
    transition: transform 0.3s ease-in-out;
}
 
div.container-footer.w-container {
  background-color: rgb(28, 28, 31);
  box-sizing: border-box;
  margin-top: 3rem;
  padding-bottom: 40px;
  padding-top: 70px;
  width: 104.8rem;
}

div.container-footer.w-container:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.container-footer.w-container:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.w-row {
  box-sizing: border-box;
  margin-left: -10px;
  margin-right: -10px;
}

div.w-row:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.w-row:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 33.3333%;
}

div.footer-column.w-clearfix.w-col.w-col-4:after {
  clear: both;
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

div.footer-column.w-clearfix.w-col.w-col-4:before {
  content: " ";
  display: table;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}


h3.footer-failory-name {
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.1em;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 24px;
}

p.footer-description-failory {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.5em;
  margin-bottom: 16px;
  margin-top: 15px;
}

br {
  box-sizing: border-box;
}

div.footer-column.w-col.w-col-8 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 66.6667%;
}

div.w-col.w-col-8 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 66.6667%;
}

div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 58.3333%;
}

h3.footer-titles {
  box-sizing: border-box;
  color: #FFFFFF;
  display: block;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 24px;
}

p.footer-links {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.8em;
  margin-bottom: 16px;
  margin-top: 2px;
}

a {
  background-color: transparent;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

span.footer-link {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

span.footer-link:hover {
  color: #FFFFFF;
  font-weight: 400;
}

span {
  box-sizing: border-box;
}

strong {
  box-sizing: border-box;
  font-weight: 700;
}

div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 41.6667%;
}

div.column-center-mobile.w-col.w-col-4 {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 33.3333%;
}

a.footer-social-network-icons.w-inline-block {
  background-color: transparent;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
  margin-right: 8px;
  margin-top: 10px;
  max-width: 100%;
  opacity: .8;
  text-decoration: none;
}

a.footer-social-network-icons.w-inline-block:active {
  outline: 0;
}

a.footer-social-network-icons.w-inline-block:hover {
  opacity: 1;
  outline: 0;
}
p.footer-description {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .5px;
  line-height: 1.5em;
  margin-bottom: 16px;
  margin-top: 15px;
}

strong.link-email-footer {
  box-sizing: border-box;
  font-weight: 700;
}
.My-footer{
  background-color: black;
}


.heading {
	font-weight: bold;
	font-size: 66px;
  margin: 0.03rem;
}

.sub-heading {
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	padding: 8px 0 8px 0;
	margin-top: 20px;
	margin-bottom: 35px;
}

.card {
	margin-top: 60px;
	margin-bottom: 80px;
	border-radius: 0;
  margin-right: 20rem;
  width: 24rem;
  color: #e8e8e8;
}

textarea[name="message"] {
	resize: none;
}

#e-mail {
	height: 45px;
}

#message {
	height: 120px;
}

input.input-box, textarea.input-box {
	background-color : #E0E0E0;
	border: #616161;
	color: #000000;
  width: 23rem;
	font-size: 15px;
	padding: 15px auto 15px auto !important;
	height: 50px !important;
}

input.input-box:focus, textarea.input-box:focus {
	background-color: #212121;
	color: #ffffff;
}

.rm-border:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}

form .form-control::-webkit-input-placeholder { 
  	color: #9E9E9E;
}

::-moz-placeholder {
  	color: #9E9E9E !important;
}

input.btn-black {
	background-color: #616161;
	color: #ffffff;
	font-weight: bold;
	height: 50px;
  margin-left: 8rem;
    margin-top: 1rem;
}

.thanks {
	color:#BDBDBD ;
  margin-left: 8.6rem;
}

.thanks:hover {
	color: wheat;
	
}

.conditions {
	font-size: 12px;
	color: #BDBDBD;
	text-align: center;
}
.text-center heading{
  margin: none;
}
